.mainProCardContainer {
    background-color: rgb(255, 255, 255);
    padding-block: 15px;
    font-family: 'Roboto Slab', serif;
    /* border-top: 1px solid rgb(194, 194, 194) ;
    border-bottom:0.5px solid rgb(194, 194, 194) ; */
    /* height: 350px; */
    /* margin-block: 10px; */
    border-top: 1px solid rgba(194, 194, 194, 0);
    border-bottom: 1px solid rgba(194, 194, 194, 0);
    cursor: pointer;
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    transition: all 0.2s ease-in-out;


}

.mainProCardContainer p{
    /* color: yellow; */
    font-size: 0.9rem  !important;
    line-height: 1.5;
}

.mainProCardContainer:hover {
 
    /* transform: scale(1.0001); */
    /* transform: translateX(5px); */
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.582);
}

.ProCardContainer {
    justify-content: space-between;
    align-items: start;
    gap: 10px;

}

.firstProCardContainer {

    width: 35%;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.firstProCardContainer img {
    height: 100%;
}

.secondProCardContainer {
    width: 40%;
    flex-direction: column;
}

.secondProCardContainerTitle h2{
    color: rgb(27, 27, 27);
}
.secondProCardContainerDescription p{
    color: rgb(85, 85, 85);
}

.thirdProCardContainer {
    width: 15%;
    flex-direction: column;
}

.thirdProCardContainer h3{
    color: rgb(27, 27, 27);
}
.thirdProCardContainer .cutOldPrice{
    color: red;
}
.thirdProCardContainer p{
    color: rgb(85, 85, 85);
}